<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <!-- use forEach instead traditional for ... loop -->
    <!-- array.forEach(function(<singleArrayItem>){//Use each singleArrayItem)) -->
    <div class="box">
        <% newListItems.forEach(function(item){ %>
            <!-- create a form or route to deleteing item -->
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange='this.form.submit()'>
                    <p>
                        <%=item.name%>
                    </p>
                </div>
            </form>
            <% }) %>
                <!-- this form or route below to create new item -->
                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list">+</button>
                </form>
    </div>

    <%- include("footer") -%>